body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  width: auto;
}

.cardHolder {
  column-count: 4;
  column-gap: 10px;
}

.dogcard {
  width: 100%;
  display: inline-block;
  margin: 5px 0px;
  background-color: #eaeae8;
}

.doggyName {
  font-size: 15px;
  padding: 5px 10px;
}

.txtPink{
  color: #fc466b;
}

.plusBtn {
  color: #fc466b;
}

.downBtn {
  color: #00ad42;
}

.moreBtn{
  color: #3f5efb;
}

.header {
  background-color: #eaeae8;
}

.brandLogo {
  font-family: "Billabong", normal;
  color: black;
  font-size: 40px;
}

.brandLogo:hover{
  color: #fc466b;
}

@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/billabong/Billabong.woff') format('woff');
  }

.storyContainer{
  width: auto;
  overflow-x: scroll;
  white-space: nowrap;
}

.storyDiv{
  height: 200px;
  width: 200px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  padding: 0px;
  border: 3px solid #fc466b;
}

.storyImg{
  height: 100%;
  width: 100%;
}

.modal-content {
  background-color: #eaeae8;
}

@media screen and (max-width: 600px) {
  .cardHolder {
    column-count: 2;
    column-gap: 5px;
  }
  .brandLogo {
    font-size: 30px;
  }
  .storyDiv{
    height: 70px;
    width: 70px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 2px solid #fc466b;
  }
  .storyContainer{
    border-bottom: 2px solid #eaeae8;
  }
  .storyContainer::-webkit-scrollbar {
    display: none;
  }
  .dogcard {
    margin: 3px 0px;
  }
  .doggyName {
    font-size: 10px;
    padding: 3px 7px;
  }
}
