body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.cardHolder {
  column-count: 4;
  column-gap: 10px;
}

.dogcard {
  width: 100%;
  display: inline-block;
  margin: 5px 0px;
  background-color: #eaeae8;
}

.doggyName {
  font-size: 15px;
  padding: 5px 10px;
}

.plusBtn {
  color: #fc466b;
}

.downBtn {
  color: #3f5efb;
}

.header {
  background: linear-gradient(to right, #fc466b, #3f5efb);
}

.brandLogo {
  font-family: "Billabong", normal;
  
}

@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/billabong/Billabong.woff') format('woff');
  }

.banner {
  background-color: #eaeae8;
}

.bannertxt {
  font-size: 40px;
  color: #fc466b;
}

.bannerlogo {
  height: 44px;
  margin-bottom: 6px;
}

.modal-content {
  background-color: #eaeae8;
}

@media screen and (max-width: 600px) {
  .cardHolder {
    column-count: 2;
    column-gap: 5px;
  }
  .dogcard {
    margin: 3px 0px;
  }
  .bannertxt {
    font-size: 20px;
  }
  .bannerlogo {
    height: 24px;
    margin-bottom: 4px;
  }
  .doggyName {
    font-size: 10px;
    padding: 3px 7px;
  }
}
